<div>ticket List</div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
              <tr>
                <th>Id</th>
                <th>Title</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="ticket in ticketList" style="cursor: pointer" ng-click="gotoTicketDetail(ticket.id, ticket.title)">
                <td>{{ticket.id ? ticket.id : 'N/A'}}</td>
                <td>{{ticket.title ? ticket.title : 'N/A'}}</td>
                <td >Setting<span> </span><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></td>
              </tr>
            </tbody>
    </table>
  </div>
