/* app css stylesheet */

.content{
  margin-top: 80px;
  margin-left: 10%;
  margin-right: 10%;
}

.status{
  width: 100px;
}

.panelbody{
  padding: 20px;
}

.desc{
  height: 200px;
}

.author{
  float: left;
}
.author li{
  display: block;
}
.resbut{
  float: right;
}
